<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Private Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Private Inner Project Page</h1>
    <p>Project ID: {{ projectId }}</p>
    <p>This page is for project creators and editors.</p>
    <p>Content will be added in the next iteration.</p>
  </div>
</ion-content>
