<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PUBLIC.PUBLIC_PROJECT' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>{{ 'PUBLIC.PUBLIC_INNER_PROJECT_PAGE' | translate }}</h1>
    <p>{{ 'PUBLIC.PROJECT_ID' | translate }} {{ projectId }}</p>
    <p>{{ 'PUBLIC.VIEWERS_MESSAGE' | translate }}</p>
    <p>{{ 'PUBLIC.NEXT_ITERATION' | translate }}</p>
  </div>
</ion-content>
