/* Custom styles that cannot be replaced with Ionic utilities */
ion-button {
  --color: var(--ion-color-primary);
  --color-hover: var(--ion-color-primary-shade);
  
  &:hover {
    --background: var(--ion-color-primary-tint);
  }
}

ion-icon {
  font-size: 1.2em;
}
