<div class="theme-toggle-container">
  @if (showDropdown()) {
    <div class="theme-dropdown-container">
      <button 
        class="theme-dropdown-btn"
        [attr.aria-expanded]="isDropdownOpen()"
        (click)="toggleDropdown()"
        type="button">
        <i [class]="getThemeIcon(selectedTheme())"></i>
        <span>{{ getThemeLabel(selectedTheme()) }}</span>
        <i class="pi pi-chevron-down dropdown-arrow"></i>
      </button>
      
      @if (isDropdownOpen()) {
        <div class="dropdown-menu">
          @for (option of themeOptions; track option.value) {
            <button 
              class="dropdown-item"
              [class.active]="option.value === selectedTheme()"
              (click)="selectTheme(option.value)"
              type="button">
              <i [class]="getThemeIcon(option.value)"></i>
              <span>{{ option.label }}</span>
              @if (option.value === selectedTheme()) {
                <i class="pi pi-check check-icon"></i>
              }
            </button>
          }
        </div>
      }
    </div>
  } @else {
    <p-toggleButton 
      [(ngModel)]="isDarkMode"
      (onChange)="onToggleChange()"
      [onIcon]="'pi pi-moon'" 
      [offIcon]="'pi pi-sun'"
      [onLabel]="'Dark'"
      [offLabel]="'Light'"
      [ngClass]="'theme-toggle-btn'">
    </p-toggleButton>
  }
</div>
