<div 
  class="user-avatar-item" 
  [class]="'variant-' + variant()"
  [class.clickable]="clickable()"
  (click)="onAvatarClick()">
  <ion-avatar [class]="(avatarSize() === 'small' ? 'avatar-small' : 'avatar-large') + ' variant-' + variant()">
    @if (user().photoURL) {
      <img [src]="user().photoURL" [alt]="user().displayName || 'User'">
    } @else {
      <ion-icon name="person" size="large"></ion-icon>
    }
  </ion-avatar>
  
  <div class="user-details">
    <strong class="user-name">{{ user().displayName || 'Anonymous' }}</strong>
    
    <div class="user-second-line">
      @if (showRole() && user().role) {
        <span class="user-role">{{ user().role | translate }}</span>
      }
      
      @if (showProjectSummary() && projectSummary()) {
        <span class="user-project-summary">{{ projectSummary() }}</span>
      }
    </div>
    
    @if (showJoinedDate() && user().joinedAt && variant() !== 'collaborator') {
      <span class="user-joined-date">{{ 'HOME.JOINED' | translate }}: {{ user().joinedAt | date:'short' }}</span>
    }
  </div>
</div>
