<div class="settings-popover">
  @if (isAuthenticated()) {
    <div class="user-info">
      <ion-avatar>
        @if (user()?.photoURL) {
          <img [src]="user()?.photoURL" [alt]="user()?.displayName || 'User'">
        } @else {
          <ion-icon name="person" size="large"></ion-icon>
        }
      </ion-avatar>
      <div class="user-details">
        <h3>{{ user()?.displayName || 'User' }}</h3>
        <p>{{ user()?.email }}</p>
      </div>
    </div>
  }

  <ion-list>
    <ion-item button (click)="dismiss()">
      <ion-icon name="color-palette-outline" slot="start"></ion-icon>
      <ion-label>{{ 'SETTINGS.THEME' | translate }}</ion-label>
      <app-theme-toggle></app-theme-toggle>
    </ion-item>

    @if (isAuthenticated()) {
      <ion-item button (click)="logout()">
        <ion-icon name="log-out-outline" slot="start" color="danger"></ion-icon>
        <ion-label color="danger">{{ 'COMMON.LOGOUT' | translate }}</ion-label>
      </ion-item>
    }
  </ion-list>
</div>
